<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashcat Web Interface</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        #output {
            white-space: pre-wrap;
            background-color: #f4f4f4;
            padding: 10px;
            border: 1px solid #ddd;
            margin-top: 10px;
            height: 300px;
            overflow-y: scroll;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            socket.on('update', function(msg) {
                var output = document.getElementById('output');
                output.innerHTML += msg.data + '\n';
                output.scrollTop = output.scrollHeight;
            });
        });
    </script>
</head>
<body>
    <h1>Hashcat Web Interface</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <label for="hash_file">Cargar archivo de hash:</label>
        <input type="file" id="hash_file" name="hash_file" required><br><br>
        
        <label for="charset">Charset:</label>
        <select id="charset" name="charset">
            <option value="numeric">Númerico</option>
            <option value="alpha">Texto</option>
            <option value="alphanumeric">Alfanumérico</option>
            <option value="special">Especial</option>
        </select><br><br>
        
        <label for="length">Longitud:</label>
        <input type="number" id="length" name="length" min="1" required><br><br>
        
        <label for="use_gpu">Usar GPU:</label>
        <input type="checkbox" id="use_gpu" name="use_gpu"><br><br>
        
        <input type="submit" value="Enviar">
    </form>
    
    <h2>Terminal</h2>
    <form action="/terminal" method="post">
        <label for="command">Comando:</label>
        <input type="text" id="command" name="command" required>
        <input type="submit" value="Ejecutar">
    </form>
    
    <div id="output"></div>
</body>
</html>
